{% extends "layouts/app.twig" %} {% block title %}Home{% endblock %} {% block
content %}

<div class="banner-links" style="margin-top: 3em;">
    <a href="/" class="banner-link">Back Home</a>
</div>
<div class="resume-mobile">
    {% include "template/resume.twig" %} 
</div>

{% endblock %}
