html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

summary {
    display: list-item;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

template,
[hidden] {
    display: none !important;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background-color: #ff0;
    color: var(--color-text-primary);
}

small {
    font-size: 80%;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

textarea {
    overflow: auto;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin: 0;
    color: rgba(148, 148, 149, 1);
    background-color: rgba(21, 21, 21, 1);
    height: 100vh;
}

main {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 0 1.5em;
}

.home-intro {
    padding: 4.5em 0;
}

.banner-header {
    color: #ffffff;
    font-size: 2.7rem;
    margin-bottom: 0.65em;
    font-weight: 700;
}

.banner-text {
    margin-bottom: 2.5em;
    line-height: 1.6;
}

.banner-text span {
    color: #ffffff;
}

.banner-link {
    padding: 0.75em 1.5em;
    color: #ffffff;
    background-color: rgba(32, 32, 34, 1);
    border: 1px solid transparent;
    margin-right: 1em;
}

.banner-link:focus {
    border-color: #ffffff;
}

.resume {
    width: 100%;
    background-color: rgba(32, 32, 34, 1);
    padding: 1.5em;
    height: 100%;
}

.resume-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.resume-header-name {
    color: #ffffff;
}

.resume-icon {
    width: 23px;
    color: #ffffff;
}

.resume-header-text {
    margin-bottom: 1em;
}

.resume-header-name {
    font-size: 1.75em;
}

.resume-body {
    margin: 0.75em 0;
}

.resume-body-section {
    position: relative;
    padding: 1em 0;
    margin-bottom: 2em;
    border-top: 1px solid #181d29;
}

.resume-body-header {
    position: absolute;
    background-color: rgba(32, 32, 34, 1);
    color: #ffffff;
    display: inline;
    padding: .5em 0;
    padding-right: .5em;
    margin-top: -2.2em;
}

.resume-body-role {
    color: #ffffff;
    margin-bottom: .65em;
}

.resume-body-date {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: .65em;
}

.resume-flex {
    display: none;
}

@media (min-width: 992px) {
    .home-flex {
        display: flex;
        min-height: 100%;
    }

    .home-intro {
        position: fixed;
        width: 45%;
        height: 100%;
        padding-right: 2em;
    }

    .resume-flex {
        padding: 3em 2em;
        display: inline-flex;
        width: 55%;
        min-height: 100vh;
        margin-left: auto;
    }

    .banner-link#resume {
        display: none;
    }

    .resume {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.link-group {
    margin-top: 3em;
}

.link {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.link-line {
    width: 40px;
    height: 2px;
    background-color: rgba(32, 32, 34, 1);
    margin: 0 1em;
}

.link span a {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 14px;
}

.resume-mobile {
    padding: 3em 0;
    min-height: 100vh;
}

@media (min-width: 1300px) {
    .home-intro {
        padding-right: 4em;
    }
}

.sponsored-links {
    margin-top: 3em;
}

.sponsored-links .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sponsored-links .flex a {
    margin-right: 1em;
    margin-bottom: 1.2em;
}

.sponsored-header {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.2px;
    margin-bottom: 1em;
}

.brand-image {
    width: 8.5rem;
    height: auto;
}

.contact-form-container {
    margin-top: 3em;
}

@media(min-width: 600px) {
    .contact-form-container {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }
}

.contact-form div {
    margin-bottom: 1em;
}

.contact-label {
    display: inline-block;
    margin-bottom: 5px;
}

.contact-input {
    display: block;
    width: 100%;
    max-width: 600px;
    background-color: rgba(32, 32, 34, 1);
    border: none;
    padding: 13px;
    outline: none;
    color: #ffffff;
}

.contact-input:focus {
    outline: none;
}

.contact-btn {
    padding: 14px;
    display: block;
    width: 100%;
    max-width: 600px;
    background-color: rgba(32, 32, 34, 1);
    color: #ffffff;
    border: none;
}

.contact-btn:focus {
    outline: none;
}