<section class="resume">
    <div class="resume-header">
        <div class="resume-header-text">
            <h3 class="resume-header-name">Adedaramola Adetimehin</h3>
            <small class="resume-header-role">Backend Developer</small>
        </div>
        <a href="https://drive.google.com/uc?export=download&id=1IrKvLBBjl7swFe9LcN7HHzZF3fuu9NGp">
            <svg class="resume-icon" viewBox="0 0 20 20" fill="currentColor">
                <path
                    fill-rule="evenodd"
                    d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                />
            </svg>
        </a>
    </div>
    <div class="resume-body">
        <div style="margin-bottom: 2em">
            I am a Backend software developer, passionate about building
            functional and scalable web applications with a futuristic mindset
            and also user experience as a top priority.
        </div>
        <div class="resume-body-section">
            <div class="resume-body-header">Core Technologies</div>
            <div class="resume-body-text">
                HTML/CSS, PHP, Laravel, Livewire, Alpine Js
            </div>
        </div>
        <div class="resume-body-section">
            <div class="resume-body-header">Familiar With</div>
            <div class="resume-body-text">
                Vue.js, Inertia.js 
            </div>
        </div>
        <div class="resume-body-section">
            <div class="resume-body-header">Experience</div>
            <div class="resume-body-text">
                <div class="resume-body-role">
                    I4G x Zuri Training – Backend Developer [Intern]
                </div>
                <small class="resume-body-date">MARCH 2021 – JULY 2021</small>
                <div>
                    I contributed to developing a number of functional backend
                    projects within four months of training.
                    <br />
                    <br />
                    &bullet; Worked with other backend developers on the team to
                    build a social media app for celebrities and their fans.
                </div>
            </div>
        </div>
        <div class="resume-body-section">
            <div class="resume-body-header">Education</div>
            <div class="resume-body-text">
                University Of Ibadan – B.Sc. Economics
                <small class="resume-body-date">2018-2023</small>
                <div>
            </div>
        </div>
    </div>
</section>